{{extend '../common/mainframe.html'}}

{{block 'head'}}
  <link rel="stylesheet" href="/common/css/common.css">
  <link rel="stylesheet" href="/admin/manager/css/manager.css">
  <link rel="stylesheet" href="/admin/manager/css/artlist.css">
  <link rel="stylesheet" href="/admin/manager/css/artadd.css">
  <link rel="stylesheet" href="/admin/manager/css/artupdate.css">
  <link rel="stylesheet" href="/admin/manager/css/artmanage.css">
{{/block}}

{{block 'content'}}
  {{include './component/headtpl.html'}}
  <div class="bgcimg"></div>
  <div class="container">
    {{include './component/leftlist.html'}}
    <div class="right-content">
        <div class="main-content">
            
        </div>
    </div>
    {{include './component/foottpl.html'}}
  </div>
{{/block}}

{{block 'fscript'}}
  <script src="/common/js/ajax.js"></script>
  <script src="/common/js/datastore.js"></script>
  <script src="/admin/manager/js/pageChange.js"></script>
  <script src="/admin/manager/js/manager.js"></script>
  <script src="/admin/manager/js/articleList.js"></script>
{{/block}}