{{extend '../common/mainframe.html'}}

{{block 'head'}}
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/admin/manager/css/manager.css">
    <link rel="stylesheet" href="/admin/manager/css/artadd.css">
{{/block}}

{{block 'content'}}
    {{include './component/headtpl.html'}}
    <div class="bgcimg"></div>
    <div class="container">
        {{include './component/leftlist.html'}}
        <div class="right-content">
            <div class="main-content">
                <form action="/admin/manager/artadd" method="post" enctype="multipart/form-data">
                    <div class="title">
                        <label for="title">文章标题:&nbsp;</label>
                        <input type="text" name="title" id="title">
                    </div>
                    <div class="content">
                        <label for="artcontent">文章内容:&nbsp;</label>
                        <textarea name="artcontent" id="content" cols="55" rows="20"></textarea>
                    </div>
                    <div class="author">
                        <label for="author">文章作者:&nbsp;</label>
                        <input type="text" name="author" id="author">
                    </div>     
                    <div class="imgupload">
                        <button id="uploadfile">图片上传</button>
                        <input id="file" type="file" name="uploadimg" style="display: none;">
                    </div> 
                    <div class="submit">
                        <button id="submit" type="submit">上传</button>
                    </div>  
                </form>
            </div>
        </div>
        {{include './component/foottpl.html'}}
    </div>
{{/block}}

{{block 'fscript'}}
    <script src="/admin/manager/js/articleAdd.js"></script>
{{/block}}
