<div class="header">
    <div class="left-header">
        <i class="iconfont icon-guanli-fill"></i>
        <i><span>博客管理</span></i>
    </div>
	<div class="right-header">
       <div class="user-msg">
           <span><i class="iconfont icon-yonghu1"></i></span>
           <span>{{username}}</span>
       </div>
       <div class="quit">
           <button>
               <i class="iconfont icon-shouye"></i><br>
               <a href="/">首页</a>
           </button>
           <button>
                <i class="iconfont icon-tuichu"></i><br>
                <a href="/admin/manager/logout">退&nbsp;出</a>
           </button>
       </div>
    </div>
</div>