<div class="comment">
	<div class="write-wrapper">
		<label for="netname">网名：</label>
		<input type="text" placeholder="请留下网名" id="netname" />
		<label for="comment">评论区：</label>
		<textarea name="" id="comment" rows="6" placeholder="请文明吐槽"></textarea>
		<div class="btn-wrapper">
			<button id="send" class="send">评&nbsp;论</button>
			<button class="clear" id="clear">清&nbsp;空</button>
		</div>
		<div class="clear"></div>
	</div>
	<ul class="comment-list" id="commentList">
		
	</ul>
</div>