::-webkit-scrollbar{
   display:none;
}

html {
    scrollbar-color: transparent transparent;
　　scrollbar-track-color: transparent;
}

.container {
	height: 800px;
	width: 100vw;
	/*min-width: 1200px;*/
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
	background-attachment: fixed;
	background-image: url('/home/images/bgtree.webp');
	position: relative;
}

.header {
	display: flex;
	width: 100vw;
	height: 70px;
	position: fixed;
	z-index: 10;
	justify-content: center;
	align-items: center;
	/*min-width: 1200px;*/
}

header:after {
	position: absolute;
	left: 0;
	top: 0;
	content: '';
	display: block;
	width: 100vw;
	height: 70px;
	background-color: #CDC9C9;
	opacity: 0.4;
	z-index: -100;
}

.header .h-left {
	flex: 1;
	height: 70px;
	font-size: 36px;
	font-weight: 800;
	color: #97FFFF;
	text-shadow: 3px 1px;
	line-height: 60px;
	margin-left: 70px;
}

.header .h-right {
	flex: 1;
	height: 40px;
	width: 60%;
}

.header .h-right ul {
	height: 40px;
	width: 100%;
	box-sizing: border-box;
	display: flex;
}

.header .h-right ul li {
	flex: 1;
	width: 20%;
	height: 40px;
	float: left;
	text-align: center;
	font-size: 21px;
	color: #fff;
}

.header .h-right ul li a:hover {
	font-size: 28px;
	color: #97FFFF;
}

.header .h-right ul li a {
	color: #fff;
	line-height: 40px;
}

.fill {
	width: 100vw;
	height: 70px;
	opacity: 1;
}

.container .body {
	width: 100vw;
	height: calc(100vh - 100px);
	/*min-width: 1200px;*/
	position: relative;
	overflow: auto;
}

.container .body .catalog {
	width: 20%;
	position: fixed;
	overflow-x: hidden;
	z-index: 10;
	top: 90px;
}

.container .body .catalog .cat-wrapper {
	margin-left: 20px;
	animation-name: lefttoshow;
	animation-duration: 3s;
	background-color: rgba(200, 200, 200, .4);
	padding-top: 10px;
	border-radius: 6px;
}

@keyframes lefttoshow {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.container .body .catalog .cat-wrapper ul {
	width: 100%;
	height: 600px;
}

.container .body .catalog .cat-wrapper ul li {
	text-align: center;
	height: 40px;
	line-height: 40px;
	margin: 12px 20px;
	border-radius: 6px;
	color: #97FFFF;
}

.container .body .catalog .cat-wrapper ul li:hover {
	font-size: 24px;
	background-color: #97FFFF;
	color: #cdcdcd;
}

.container .body .cata-btn {
	display: none;
}

.container .body .content {
	box-sizing: border-box;
	overflow-x: hidden;
	width: 80%;
	/*min-width: 700px;*/
	margin-left: 20%;
}

.container .body .content .content-wrapper {
	width: 80%;
	margin-top: 24px;
	margin-left: 8%;
}

.container .body .content .content-wrapper header .title {
	font-size: 28px;
	display: block;
	color: #eee;
	text-align: center;
	line-height: 54px;
	height: 54px;
}

.container .body .content .content-wrapper header .time {
	text-align: right;
	font-size: 24px;
	color: #eee;
	display: block;
	height: 30px;
	line-height: 30px;
}

.container .body .content .content-wrapper article {
	font-size: 22px;
	color: #eee;
	line-height: 36px;
}

.container .body .content .content-wrapper article img {
	margin: 0px;
	padding-left: 0px;
	width: 100%;
	height: 340px;
}

.container .body .content .content-wrapper article .main-context {
	/* text-indent: 2em; */
}

.container .body .content .content-wrapper footer {
	margin-top: 6px;
}

.container .body .content .content-wrapper footer span {
	text-align: right;
	display: block;
	font-size: 24px;
	height: 40px;
	line-height: 40px;
	padding-right: 20px;
	color: #eee;
}

.container .body .comment {
	padding-top: 14px;
	width: 80%;
	margin-left: 20%;
}

.container .body .comment .write-wrapper {
	margin-left: 8%;
	margin-top: 30px;
	background-color: rgba(124,124,124, 0.5);
	width: 900px;
	padding-top: 8px;
	padding-bottom: 10px;
	border-radius: 6px;
}

label {
	margin-left: 10px;
	margin-top: 16px;
	width: 100%;
	height: 26px;
	font-size: 20px;
	font-weight: 500;
	line-height: 20px;
	display: block;
	color: #97FFFF;
}

#netname {
	height: 40px;
	padding-left: 20px;
	width: 600px;
	margin-top: 8px;
	outline: none;
	border: none;
	border-bottom: 2px solid #97FFFF;
	margin-left: 20px;
	font-size: 1.2em;
	background-color: rgba(150,150,150, 0);
	color: 	#FFF8DC;
}

#comment {
	margin-top: 8px;
	margin-left: 20px;
	border-radius: 6px;
	width: 740px;
	height: 100px;
	resize: none;
	padding-left: 10px;
	outline: none;
	padding-top: 6px;
	float: left;
	background-color: rgba(150,150,150, 0.4);
	color: 	#FFF8DC;
}

.container .body .comment .write-wrapper .btn-wrapper {
	float: left;
	width: 90px;
	height: 100px;
	margin-top: 10px;
}

#send {
	width: 80px;
	margin-left: 10px;
	height: 40px;
	border-radius: 3px;
}

#clear {
	width: 80px;
	margin-left: 10px;
	height: 40px;
	margin-top: 10px;
	border-radius: 3px;
}

.container .body .comment .write-wrapper .clear {
	clear: both;
}

.container .body .comment .comment-list {
	width: 900px;
	margin-left: 8%;
	padding-top: 10px;
}

.container .body .comment .comment-list li {
	width: 740px;
	height: 110px;
	background-color: rgba(124,124,124, 0.6);
	margin-top: 20px;
	margin-left: 30px;
	border-radius: 8px;
}

.container .body .comment .comment-list li .name {
	font-size: 1.4em;
	margin-left: 20px;
	padding-top: 8px;
	color: #97FFFF;
}

.container .body .comment .comment-list li p {
	margin-left: 50px;
	font-size: 1.2em;
	color: white;
	margin-top: 14px;
}

@media (max-width: 768px) {
	.header {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		height: 100px;
	}

	.header::after {
		display: none;
	}

	.header .h-left {
		margin-top: -10px;
		width: 100%;
		height: 50px;
		text-align: center;
		line-height: 40px;
		margin: 0px;
		flex: none;
		font-size: 40px;
		font-weight: 600;
	}

	.header .h-right {
		width: 100%;
		height: 50px;
		flex: none;
	}

	.header .h-right ul {
		width: 100%;
		height: 50px;
		display: flex;
		flex: 0;
	}

	.container .body .catalog {
		position: relative;
		width: 90%;
		margin: 0 5%;
		top: 10px;
		display: visible;
	}

	.container .body .catalog .cat-wrapper ul {
		height: auto;
	}

	.container .body .cata-btn {
		width: 10%;
		margin: 20px 5% 0;
		display: block;
		margin-left: 83%;
		height: 32px;
		padding-left: 2px;
		padding-top: 0.5px;
		background-color: rgba(124,124,124, 0.6);
		border-radius: 4px;
	}

	.container .body .cata-btn span {
		display: block;
		width: 36px;
		height: 3px;
		background-color: white;
		margin: 7px 0;
	}

	#content .content {
		margin: 0 5%;
		width: 90%;
	}

	.container .body .comment {
		width: 84%;
		margin: 0 8%;
	}

	.container .body .comment .write-wrapper {
		width: 100%;
		margin: 0;
	}

	#netname {
		width: 90%;
	}

	#comment {
		width: 90%;
		float: left;
	}

	.container .body .comment .write-wrapper .btn-wrapper {
		width: 100%;
		padding: 0 10px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	#clear {
		margin: 0;
	}

	.container .body .comment .comment-list {
		width: 100%;
		margin: 0;
	}

	.container .body .comment .comment-list li {
		width: 100%;
		margin-left: 0;
	}
}



